@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .border,
    .border-r,
    .border-l,
    .border-t,
    .border-b,
    .border-x,
    .border-y {
        @apply border-border-light dark:border-border-dark;
    }

    .divide-x,
    .divide-y {
        @apply divide-border-light dark:divide-border-dark;
    }
}

body {
    @apply w-full h-full bg-black select-none;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #585858;
}