@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-full h-full bg-black;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #585858;
}